.navbar .navbar-inner {
  padding: 0;
}

.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}

.navbar .nav li {
  display: table-cell;
  width: 25%;
  float: none;
}

.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, .75);
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

.navbar-custom {
  background-color:#4AB5D9;
  color:#ffffff;
  border-radius:0;
  border-bottom:0.5px solid white;
}

.navbar-custom .navbar-nav > li > a {
  color:#fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color:transparent;
}

.navbar-custom .navbar-brand {
  color:#eeeeee;
}

.nav li a:hover{
  background-color:#2F8EAD;
}

.nav li a:focus{
  background-color:#2F8EAD;
}

#content{
  margin-top:5em;
}

@font-family{
  font-family: myFont;
  src: url(fonts/BPreplay.ttf);
}

body{
  font-family:myFont;
}

#logo{
  height:30em;
}

.white{
  color:white;
}

.blueB{
  background-color:#71D0F0;
}

#app{
  margin-top:5em;
}

#buttonMachine{
  margin-top:3em;
  margin-bottom:3em;
}

.search-bar, .reset-button {
  margin-bottom: 1em;
}

#homeless_data {
  margin-left: auto;
  margin-right: auto;
}

#contactMe{
  background-color:#71D0F0;
  padding: 1em;
}

#phonePic{
  padding-top:5em;
}

#contactText{
  padding-top:7em;
}
